* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 800px;
    margin: auto;
}

main {
    padding: 15px 15px;
    background-color: #01551f;
    border: solid 4px #652f04;
    position: relative;
}

main p {
    color: white;
    padding: 2px 0;
    font-size: 125%;
    font-family: 'Permanent Marker', cursive;
}

header  {
    text-align: center;
    margin: 25px auto;
}

header input, header label, header select {
    margin: 20px auto;
}

header input {
    text-align: center;
    width: 450px;
}

.bart {
    position: absolute;
    right: 0%;
    width: 115px;
    bottom: 0%;
}
